**Ejercicio 1: Crear un cuaderno de Jupyter Notebook**

# Data Science Tools and Ecosystem

**Ejercicio 2: Crear una celda de Markdown con el título del bloc de notas**

**Ejercicio 3 - Crear una celda de Markdown para una introducción**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Ejercicio 4: Crear una celda de Markdown para enumerar lenguajes de ciencia de datos**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

**Ejercicio 5: Creación de una celda de Markdown para enumerar bibliotecas de ciencia de datos**

Some of the commonly used libraries used by Data Scientists include:
1.   Pandas
2.   NumPy
3.   Scikit-learn
4.   TensorFlow
5.   Matplotlib

**Ejercicio 6: creación de una celda de Markdown con una tabla de herramientas de ciencia de datos**

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

**Ejercicio 7 - Crear una celda de Markdown introduciendo ejemplos de expresiones aritméticas**

### Below are a few examples of evaluating arithmetic expressions in Python.

**Ejercicio 8 - Crea una celda de código para multiplicar y sumar números**

In [1]:
# Esta es una expresión aritmética simple para luego agregar números enteros.
(3*4)+5

17

**Ejercicio 9 - Crear una celda de código para convertir minutos en horas**

In [2]:
# Esto convertirá 200 minutos en horas dividiendo entre 60.
200 / 60

3.3333333333333335

**Ejercicio 10 - Insertar una celda de Markdown para enumerar los objetivos**

**Objetivos:**
- Enumerar los lenguajes más populares para la ciencia de datos
- Enumerar las bibliotecas más utilizadas en la ciencia de datos
- Crear una tabla de herramientas de la ciencia de datos
- Demostrar operaciones aritméticas básicas en Python

**Ejercicio 11 - Cree una celda de Markdown para indicar el nombre del autor**

## Author
Darlin Huaman